.example-card{
    min-height: 500px;
    width: 80%;

}
.OT-table{
    width: 96%;
    margin: 2%;
    text-align: center;
}
.tbl{
    text-align: center;

}

.twitter-like{
  .mat-progress-spinner{
      display: inline;
  }
}
.toolbar{
    height: 40px;
    width: 100%;
    border-radius: 5px 5px 5px 5px;
    background-color: rgba(249, 248, 252, 0.623);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(219,219,219,1);
    -moz-box-shadow: 10px 10px 5px -5px rgba(219,219,219,1);
    box-shadow: 10px 10px 5px -5px rgba(219,219,219,1);
    
}
.anclah{
    margin-left: 16px;
}
.dialogh{
    
    width: 800px;
    
}
.table{

    width: 90%;
    max-height: 400px;
}
