.mat-toolbar{
    background-color: rgba(17, 55, 224, 0.89);
    min-height: 60px;
    .bthead{
        background-color: rgba(255, 255, 255, 0.89);
        margin-right: 25px;
    }
}
.example-card{
    min-height: 500px;
    width: 80%;

}
.container{
    margin-top: 20px;
}
.register-card{
    
    min-width: 45%;
    
}

.formR{
    min-height: 350px;
}
.but{
    min-width: 200px;
}
.mat-form-field{
    min-width: 300px;
}